@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.home, .reports, .products {
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

/* 変わってなくね? */